Repository apecloud/kubeblocks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apecloud/kb-reviewers, @leon-inf, @Y-Rookie, @wangyelei, @sophon-zt, @ldming, @zjx20, @free6om, @michelle-0808, @shanshanying, @ahjing99

update
  deploy/helm/templates/opsdefinition.yaml
Owners: @apecloud/kb-reviewers

feat: support ha records (#8089)
  deploy/helm/templates/opsdefinition.yaml
  pkg/lorry/client/httpclient_test.go
  pkg/lorry/dcs/dcs.go
  pkg/lorry/dcs/dcs_mock.go
  pkg/lorry/dcs/k8s.go
  pkg/lorry/httpserver/apis.go
  pkg/lorry/httpserver/endpoint.go
  pkg/lorry/httpserver/server.go
  pkg/lorry/operations/replica/switchover.go
  pkg/lorry/operations/types.go
Owners: @apecloud/kb-reviewers

feat: support InstanceSet PVC ownerReference (#8064)
  apis/apps/v1alpha1/cluster_types.go
  config/crd/bases/apps.kubeblocks.io_clusters.yaml
  controllers/apps/cluster_controller_test.go
  controllers/apps/transformer_cluster_deletion.go
  controllers/apps/transformer_component_deletion.go
  deploy/helm/crds/apps.kubeblocks.io_clusters.yaml
  docs/developer_docs/api-reference/cluster.md
  pkg/controller/instanceset/instance_util.go
  pkg/controller/instanceset/reconciler_deletion.go
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @michelle-0808, @shanshanying

feat: support PVC ownerReference
  apis/apps/v1alpha1/cluster_types.go
  controllers/apps/transformer_cluster_deletion.go
  controllers/apps/transformer_component_deletion.go
  pkg/controller/instanceset/instance_util.go
  pkg/controller/instanceset/reconciler_deletion.go
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers

fix broken ut
  controllers/apps/cluster_controller_test.go
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers

fix cicd error
  config/crd/bases/apps.kubeblocks.io_clusters.yaml
  deploy/helm/crds/apps.kubeblocks.io_clusters.yaml
  docs/developer_docs/api-reference/cluster.md
Owners: @apecloud/kb-reviewers, @michelle-0808, @shanshanying

refine api
  controllers/apps/transformer_component_workload.go
  pkg/controllerutil/image_util.go
  pkg/controllerutil/image_util_test.go
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers

feat: support InstanceSet PVC ownerReference (#8113)
  apis/apps/v1alpha1/cluster_types.go
  config/crd/bases/apps.kubeblocks.io_clusters.yaml
  controllers/apps/cluster_controller_test.go
  controllers/apps/transformer_cluster_deletion.go
  controllers/apps/transformer_component_deletion.go
  deploy/helm/crds/apps.kubeblocks.io_clusters.yaml
  docs/developer_docs/api-reference/cluster.md
  pkg/controller/instanceset/instance_util.go
  pkg/controller/instanceset/reconciler_deletion.go
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @michelle-0808, @shanshanying

add ut
  apis/apps/v1alpha1/cluster_types.go
  apis/apps/v1alpha1/type.go
  config/crd/bases/apps.kubeblocks.io_clusters.yaml
  config/crd/bases/apps.kubeblocks.io_componentdefinitions.yaml
  controllers/apps/clusterdefinition_controller.go
  controllers/apps/componentdefinition_controller.go
  controllers/apps/componentdefinition_controller_test.go
  controllers/apps/componentversion_controller.go
  controllers/apps/componentversion_controller_test.go
  controllers/apps/transformer_cluster_load_resources.go
  deploy/helm/crds/apps.kubeblocks.io_clusters.yaml
  deploy/helm/crds/apps.kubeblocks.io_componentdefinitions.yaml
  docs/developer_docs/api-reference/cluster.md
  pkg/controller/component/utils.go
  pkg/controller/component/utils_test.go
  pkg/testutil/apps/component_version_util.go
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers, @michelle-0808, @shanshanying

fix ut
  pkg/testutil/apps/component_version_util.go
Owners: @apecloud/kb-reviewers

fix ut
  controllers/apps/componentversion_controller_test.go
Owners: @leon-inf, @Y-Rookie, @apecloud/kb-reviewers

chore: support inject secret envFrom
  apis/apps/v1alpha1/config_meta.go
  apis/apps/v1alpha1/type.go
  apis/apps/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/apps.kubeblocks.io_componentdefinitions.yaml
  config/crd/bases/apps.kubeblocks.io_configurations.yaml
  deploy/helm/crds/apps.kubeblocks.io_componentdefinitions.yaml
  deploy/helm/crds/apps.kubeblocks.io_configurations.yaml
  pkg/constant/labels.go
  pkg/controller/configuration/config_utils.go
  pkg/controller/configuration/envfrom_utils.go
  pkg/controller/configuration/envfrom_utils_test.go
  pkg/controller/configuration/pipeline.go
  pkg/controller/configuration/template_wrapper.go
  pkg/controllerutil/volume_util.go
  pkg/controllerutil/volume_util_test.go
  pkg/gotemplate/tpl_engine_test.go
  pkg/testutil/k8s/k8sclient_util.go
Owners: @sophon-zt, @apecloud/kb-reviewers

docs: adjust format
  docs/user_docs/connect_database/connect-database-in-testing-environment.md
Owners: @michelle-0808, @shanshanying, @apecloud/kb-reviewers

chore: update api-reference doc
  docs/developer_docs/api-reference/cluster.md
Owners: @michelle-0808, @shanshanying, @apecloud/kb-reviewers

import order
  pkg/controllerutil/image_util.go
Owners: @apecloud/kb-reviewers

.github/CODEOWNERS:

* @apecloud/kb-reviewers

# Cluster APIs
apis/**/cluster*.go @leon-inf @Y-Rookie @apecloud/kb-reviewers
apis/**/component*.go @leon-inf @Y-Rookie @apecloud/kb-reviewers
apis/**/service*.go @leon-inf @Y-Rookie @apecloud/kb-reviewers
controllers/apps/cluster*.go @leon-inf @Y-Rookie @apecloud/kb-reviewers
controllers/apps/transformer_cluster*.go @leon-inf @Y-Rookie @apecloud/kb-reviewers
controllers/apps/component*.go @leon-inf @Y-Rookie @apecloud/kb-reviewers
controllers/apps/transformer_component*.go @leon-inf @Y-Rookie @apecloud/kb-reviewers
controllers/apps/service*.go @leon-inf @Y-Rookie @apecloud/kb-reviewers

# OpsRequest API
apis/**/opsrequest*.go @wangyelei @apecloud/kb-reviewers
apis/**/opsdefinition*.go @wangyelei @apecloud/kb-reviewers
controllers/apps/opsdefinition*.go @wangyelei @apecloud/kb-reviewers
controllers/apps/operations/ @wangyelei @apecloud/kb-reviewers

# Config API
apis/**/config*.go @sophon-zt @apecloud/kb-reviewers
controllers/apps/configuration/ @sophon-zt @apecloud/kb-reviewers
controllers/apps/operations/reconfigure*.go @sophon-zt @apecloud/kb-reviewers

# DataProtection APIs
apis/dataprotection/ @ldming @wangyelei @zjx20 @apecloud/kb-reviewers
controllers/dataprotection/ @ldming @wangyelei @zjx20 @apecloud/kb-reviewers
pkg/dataprotection/ @ldming @wangyelei @zjx20 @apecloud/kb-reviewers

# Experimental APIs
apis/experimental/ @free6om @apecloud/kb-reviewers
controllers/experimental/ @free6om @apecloud/kb-reviewers

# Extensions APIs
apis/extensions/ @ldming @apecloud/kb-reviewers
controllers/extensions/ @ldming @apecloud/kb-reviewers

# Workloads APIs
apis/workloads/ @free6om @apecloud/kb-reviewers
controllers/workloads/ @free6om @apecloud/kb-reviewers

# Docs
docs/ @michelle-0808 @shanshanying @apecloud/kb-reviewers

# Examples
examples/ @ahjing99 @shanshanying @apecloud/kb-reviewers
